body {
  font-family: 'Handlee';
}

table {
  font-size: 1em;
  display: flex;
  max-width: 100%;
}


.header td {
  background-color: #e6e600;
  color: black;
  padding-right: 4em;
  margin: auto;
  justify-content: center;
}

td {
  margin: auto;
  background-color: #2b547e;
  color: white;
  padding-right: 2em;
  border-bottom: ridge;
}

.next {
  margin-left: 80%;
}

.abilities {
  display: inline;
  background-color: #add8e6;
  color: black;
  border: inset 2px #add8e6;
  width: 90%;
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

h3 {
  display: none;
}

.buttons {
  margin-top: 2em;
}

button {
  border-radius: 25px;
  width: 10%;
  display: inline;
}

td:nth-child(5) span{
  margin-left: 1em;
  cursor: pointer;
}

.spinner {
  display: none;
  width: 100%;
  height: 60%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
}

.spinner img {
  width: 25%;
  display: block;
  margin: 0 auto;
}
