body {
  font-family: 'Handlee';
}

table {
  display: flex;
  max-width: 80%;
}


th {
  padding-right: 4em;
}

td {
  padding-right: 2em;
  border-bottom: ridge;
}

.next {
  margin-left: 80%;
}

.abilities {
  display: none;
  border: inset 2px #add8e6;
}

.show {
  display: block;
}

.hide {
  display: none;
}

h3 {
  display: none;
}

.buttons {
  margin-top: 2em;
}

button {
  border-radius: 25px;
  width: 10%;
  display: inline;
}

td:nth-child(5) span{
  margin-left: 1em;
  cursor: pointer;
}
